В мобильном приложении «Мой налог» или на сайте "Мой налог" в личном кабинете необходимо выбрать опцию «Добавить продажу».
Далее нужно заполнить несколько полей:
+ сумма полученного вознаграждения согласно акту;
+ услуги, за оказания которых поступило вознаграждение (п.1 Акта – Вы можете сократить формулировку, сохранив суть услуги);
+ название организации, выплатившей вознаграждение (данная информация находится слева внизу в Акте);
+ ИНН организации, выплатившей вознаграждение (данная информация находится слева внизу в Акте).

После заполнения всех полей система предложит выгрузить электронный чек.
В приложении "Мой налог" внизу появится кнопка «__отправить__», нажав на неё система предложит отправить чек в нескольких форматах. Вам нужно выбрать «ссылку на чек».
Далее появится список доступных приложения, в котором необходимо выбрать Telegram, а далее - чат с ботом «Anchor Bot».

Необходимо внести продажу в приложение и направить в течение 5-ти дней с момента получения Вами денежных средств.
В случае, если чек не будет предоставлен в указанные ранее сроки, последующие выплаты ANCOR произвести Вам не сможет.
После завершения календарного месяца приложени "Мой Налог" автоматически выдаст Вам сумму налога для его уплаты.